.movieRow {
    margin-bottom: 1.75rem;
}

.movieRow h2 {
    margin: 0px 0px 0px 1.75rem;
}

.movieRow--listarea {
    overflow-x: hidden;
    padding-left: 1.75rem;
}

.movieRow--list {
    width: 99999px;
}

.movieRow--item {
    display: inline-block;
    width: 150px;
    cursor: pointer;
}

.movieRow--item img {
    width: 100%;
}

.movieRow--item img {
    width: 100%;
    transform: scale(0.9);
    transition: all ease .2s;
}

.movieRow--item img:hover {
    width: 100%;
    transform: scale(1);
}